<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.workoutic">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name = "android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_workoutic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_workoutic_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".routines.RoutineEspecific"
            android:exported="false" />
        <activity
            android:name=".routines.ExercisesManage"
            android:exported="false" />
        <activity
            android:name=".routines.RoutineSelExercises"
            android:exported="false" />
        <activity
            android:name=".routines.CategorySelection"
            android:exported="false" />
        <activity
            android:name=".routines.FitnessLevelSelection"
            android:exported="false" />
        <activity
            android:name=".routines.NewRoutine"
            android:exported="false" />
        <activity
            android:name=".chat.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".signin_signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".signin_signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".chat.UserActivity"/>
        <activity
            android:name=".routines.Routine_Selection"
            android:exported="false" />
        <activity
            android:name=".routines.Routine_Main"
            android:exported="false" />
        <activity
            android:name=".exercises.SelExerEspecific"
            android:exported="false" />
        <activity
            android:name=".exercises.SelectionExercises"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".exercises.Exercises"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service android:name=".notification.FirebaseMessagingWK"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


    </application>

</manifest>